@model ProjectViewModel

@{
    ViewData["Title"] = "Project";
}

<div>
    <form method="post" asp-action="UpdateCost" asp-route-code="@Model.ProjectCode">
        <div class="input-group mb-3">
            <span class="input-group-text" id="Cost">Cost</span>
            <input asp-for="Cost" class="form-control" aria-label="Sizing example input" aria-describedby="Cost">
        </div>

        <button
            type="submit"
            class="btn btn-primary">
            Update
        </button>
    </form>
</div>