@model MenuViewModel

@{
    ViewData["Title"] = "Menu";
}

<div>
    <div class="row row-bottom-margin">
        <a asp-controller="Project" asp-action="MonthStatistics" class="btn btn-primary">
            Month statistics
        </a>
    </div>

    <div class="row row-bottom-margin">
        <a asp-controller="Home" asp-action="LockMonth" class="btn btn-primary">
            Lock month
        </a>
    </div>

    <div class="row row-bottom-margin">
        <a asp-controller="Project" asp-action="Create" class="btn btn-primary">
            New project
        </a>
    </div>

    <div class="row row-bottom-margin">
        <button class="btn btn-primary">
            Manage projects
        </button>
    </div>
</div>