@model MenuViewModel

@{
    ViewData["Title"] = "Menu";
}

<div>
    <div class="row row-bottom-margin">
        <a asp-controller="Home" asp-action="MonthStatistics" class="btn btn-primary">
            Month statistics
        </a>
    </div>

    <div class="row row-bottom-margin">
        <button class="btn btn-primary">
            Lock month
        </button>
    </div>

    <div class="row row-bottom-margin">
        <button class="btn btn-primary">
            New project
        </button>
    </div>

    <div class="row row-bottom-margin">
        <button class="btn btn-primary">
            Project members
        </button>
    </div>

    <div class="row row-bottom-margin">
        <button class="btn btn-primary">
            Time till project gets locked
        </button>
    </div>

    <div class="row row-bottom-margin">
        <button class="btn btn-primary">
            Remaining budget
        </button>
    </div>

    <div class="row">
        <button class="btn btn-primary">
            Accepted time
        </button>
    </div>
</div>